/* Sidebar */
.sidebar {
  height: 100vh;
  min-height: 50vh;
  overflow: hidden;
  width: 270px;
  background-color: #fff;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
}

.menu {
  width: 100%;
  padding-top: 25px;
}

.menu-item {
  padding: 15px 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  font-size: 14px;
  color: #333;
  transition: background 0.3s;
  margin: 0 10px;
  border-radius: 10px;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.menu-item.active {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  /* border-radius: 10px; */
}

@media only screen and (max-width: 800px) {
  .sidebar {
    position: absolute;
    left: -270px;
    transition: left 0.3s ease;
    background-image: linear-gradient(to bottom, #fff, #eee);
    height: 50vh;
  }

  .active-menu {
    position: absolute;
    top: 85px;
    left: 0;
    z-index: 99999999;
  }
}