/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: relative;
}

.logo img {
    height: 70px;
}

.new-booking-btn {
    background-color: #1f2937;
    color: #fff;
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.new-booking-btn:hover {
    background-color: #374151;
}

.profile-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.mobile-menu-btn {
    background: none;
    border: 0;
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobile-menu-btn {
        background: none;
        border: 0;
        display: flex;
    }

    .mobile-menu {
        width: 35px;
    }
}