.swal2-container {
        z-index: 99999 !important; /* Or a value higher than your modal's z-index */
    }
.delete-selected-btn {
  position: relative;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
  font-weight: 600;
  padding: 18px 0;
  border: none;
  border-radius: 5px;
  box-shadow: rgb(255, 0, 0) 0px 50px 100px -20px, rgb(255, 1, 1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.delete-selected-btn small:first-child {
  color: #fff;
  position: absolute;
  left: 12px;
  font-size: 15px;
}

.delete-selected-btn small:last-child {
  color: #fff;
  position: absolute;
  right: 12px;
  font-size: 15px;
}

.delete-selected-btn:hover {
  background-color: #000;
  transition: 0.2s ease;
}


@media only screen and (max-width: 800px) {
  .delete-selected-btn{
    width: 170px;
  }
}